.announcement-container{
    width: 95%;
}

.container {
    margin-top: 50px;
    padding-top: 50px;
}
.section-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
span.bandge {
    background-color: rgba(228,37,117,.2);
    font-size: 10px;
    padding: 2px 5px;
    text-transform: uppercase;
    border-radius: .25rem;
    border: solid 1px #c70556;
    margin-bottom: 10px;
    margin-left: 10px;
}
.section-header h2.title {
    color: #ffffff;
}
.card:before {
    content: none;
}
.no-hover {
    transform: translateY(0px)!important;
    background-color: #1C1326;
}
ul.list-group.list-group-flush {
    width: 100%;
}
.profile {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 100%;
}

.profile img {
    width: 2rem;
    height: auto;
    border-radius: 100px;
    position: relative;
}

.profile p.name {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
}
li.list-group-item {
    padding: 1rem;
}
li.list-group-item {
    border-color: #40324E;
    background-color: transparent;
    transition: 0.1s;
}
li.list-group-item:hover {
    opacity: .7;
    background-color: #2B2037;
}
.topic h6 {
    margin: 0;
    color: #ffffff;
}

.topic p.date {
    color: #998ca6!important;
    margin: 0px;
    font-size: 12px;
}

.more-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}
.more-details a.view-details {
    color: #c70556;
    font-size: 14px;
}

.more-details a.social {
    background-color: #24182F;
    padding: 5px 8px;
    color: #ffffff;
    border: solid 1px #2b1e38;
    font-size: 12px;
    border-radius: 3px;
}
.more-details a.social:hover {
    background-color: #40324E;
    border-color: #40324E;
}