.gameCardContainer {
  max-width: 70%;
  margin: 0 auto;
  padding: 2rem;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
}

.gameContainer > img{
  max-width: 25rem;
}