@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

h1, h5, p, span {
  color: #ffffff!important;
}
.btn-3 span {
  text-transform: uppercase;
}
footer.Footer {
  padding-top: 40px;
  margin-top: 40px;
}
.featureContainer {
  width: 95%;
  height: auto;
  border-radius: 24px;
  margin: 2rem auto;
  background-image: url("../../assets/image/banner/bg.png");
  position: relative;
  padding: 2rem;
}
.featureContainer .profile-details {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.featureContainer .profile-details h1 {
  margin: 0px!important;
  padding: 0px!important;
}
.featureContainer button.custom-btn {
  margin: 0px;
  margin-top: 25px;
}

.featureContainer > h1{
  margin: 2rem;
  padding: 1rem 0 0 0;
  max-width: 470px;
}
.featureContainer .art {
  text-align: center;
}
img.rocket {
  width: 100px;
  position: absolute;
  transform: scaleX(-1);
}

.featureContainer:hover img.rocket {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    transform: scaleX(-1) translate3d(0px, 0px, 0);
  }
  50% {
    transform: scaleX(-1) translate3d(0px, -50px, 0);
  }
  100% {
    transform: scaleX(-1) translate3d(0px, 0px, 0);
  }
}

img.astronaut {
  width: 100%;
  max-width: 410px;
  position: relative;
  top: 2rem;
}

.featureContainer:hover img.astronaut {
  animation: bounce2 2s infinite;
}

@keyframes bounce2 {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  50% {
    transform: translate3d(0px, -50px, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}

.action-btns {
  display: flex;
  justify-content: end;
  width: 100%;
}
.mr-4 {
  margin-right: 10px!important;
}
.text-uppercase {
  text-transform: uppercase;
}
i.verified1, i.verified2 {
  font-size: 20px;
  margin-left: 3px;
}
i.verified1 {
  font-size: 20px;
}

i.verified2 {
  font-size: 14px;
}

img.nftLogo {
  width: 65px;
  border: solid #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}

p.desc {
  width: 100%;
  border: solid #000000;
  border-radius: 8px;
  padding: 20px;
  transition: transform .2s;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.featureContainer:hover p.desc {
  transform: scale(1.05);
}

@media screen and (max-width: 900px) {
  .desc{
    display: none;
  }
  
  img.nftLogo{
  }
}

@media screen and (max-width: 575px) {
  .action-btns {
    
  }
}