/*----------------
Dashboard styles
----------------*/
.collectionContainer{
  width: 95%;
}

.section-header{
  margin-top: 2rem;
}



.announcement-container{
  width: 95%;
  margin: 0 auto;
}

/*----------------
Marketplace styles
----------------*/
.marketplaceContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 2rem;
}

/*----------------
MemoryGame styles
----------------*/
.gameZoneContainer{
  width: 50%;
  margin: 0 auto;
}

.gameZoneHeader{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.gameZoneHeader > h1{
  font-size: 3rem;
}

.gameZoneHeader .newGameBtn{
  width: 10rem;
  background-color: #363535;
  border: none;
  color: white;
  padding: .5rem 1.5rem;
  border-radius: .4rem;
  font-weight: 500;
  font-size: 1.25rem;
  transition: .5s ease all;
  align-self: center;
  margin: 1rem 0 0 0;
}

.gameZoneHeader .newGameBtn:hover{
  background-color: white;
  color: black;
}

.card-grid{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

/*----------------
Responsiveness
----------------*/
@media screen and (max-width: 1350px) {
  .marketplaceContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .gameZoneContainer{
    width: 60%;
  }
}

@media screen and (max-width: 980px) {
  .marketplaceContainer {
    grid-template-columns: 1fr 1fr 1fr ;
  }

  .collectionCards{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .gameZoneContainer {
    width: 65%;
  }
}

@media screen and (max-width: 800px) {
  .marketplaceContainer {
    grid-template-columns: 1fr 1fr ;
  }

  .gameZoneContainer {
    width: 75%;
  }
}

@media screen and (max-width: 550px) {
  .marketplaceContainer {
    grid-template-columns: 1fr;
  }

  .gameZoneContainer {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .gameZoneContainer {
    width: 100%;
  }

  .card-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}