.header{
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header{
  margin: 10px;
}

.logoContainer > img {
  width: 100px;
  cursor: pointer;
}

.searchBar{
  background-color: #1c1c1e;
  height: 50px;
  flex: 1;
  display: flex;
  border-radius: 3rem;
  align-items: center;
  margin-left: 1rem;
}

.searchIconContainer{
  margin: .75rem;
}

.searchInput{
  background-color: transparent;
  border: none;
  width: 100%;
  outline: none;
  color: #eee;
}

.searchIconContainer > img{
  width: 25px;
}

.headerItems{
  display: flex;
  color: #a1a5b0;
}

.headerItems > p{
  margin: .75rem;
  cursor: pointer;
}

.headerActions{
  display: flex;
  align-items: center;
}

.headerActions > div{
  margin: 10px;
}

.themeSwitchContainer{
  display: flex;
  background-color: #1c1c1e;
  border-radius: 3rem;
  padding: 15px;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.themeSwitchContainer > img{
  height: 25px;
}

.balanceContainer{
  display: flex;
  background-color: #1c1c1e;
  padding: .50rem;
  border-radius: 2rem;
}

.balanceContainer > img{
  width: 1.5rem;
  margin: 0 .75rem 0 .75rem;
}

.balanceContainer > p{
  margin: auto .75rem auto 0;
}