.trending-collection-title {
  background-color: #292a2b;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.trending-collection-body {
  background-color: var(--collection-color);
  border-bottom: #292a2b 1px solid;
}

.trending-collection-body:hover{
  background-color: var(--collection-color-hover);
}

.trending-collection img{
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
}

.trending-collection p{
  font-size: 1rem;
  margin: 0;
}

.trending-collection p.supply{
  font-size: .75rem;
}

.eth-icon{
  color: #86888a;
}